<!DOCTYPE html>
<html class="page">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Management</title>
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<header class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <h2  class="navbar-brand">Manage Your Events</h2>
    </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/createevent">Create an Event</a>
        </li>
        <li>
          <a href="/about" >About</a>
        </li>
        <li>
          <a href="/addevent"> Event Discovery</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li class="active">
          <a href="/login">Log out</a>
        </li>
      </ul>

  </div>
</header>


<body>

  <!-- BOOKED EVENTS ----------->
  <div class="heading"><h1 >BOOKED EVENTS</h1></div>

  <div class="container2">

      <% user1.bookedEvents.forEach(function(event){%>
      
        <div class="details">
          <h1 class='title'><%= event.eventname%></h1>
          <h3 class='date'>Date: <%= event.date%></h3>
          <h2 class='venue'>location: <%= event.location%></h2>
          <p class='description'>Description: <%= event.description%></p>
          <h4 class='createdBy'>Organizer: <%= event.createdBy%></h4>
          <p class="ticketPrices">TicketPrices: <%= event.ticketPrices%>$</p>
          <p class="Availability">Availability: <%= event.Availability%></p>
          <p class="refundPolicy">RefundPolicy: <%= event.refundPolicy%></p>
          
        </form>
        <form action="/delete-booked-events/<%= event._id %>"  class="deleteForm">
          <button type="submit" class="deleteButton">Delete</button>
      </form>
        </div>
        
        <%  })%>

    </div>

    <!-- CREATED EVENTS ------------------>
    <div class="heading"><h1 >Your Events To Organize</h1></div>

    <div class="container2">
  
        <% user1.createdEvents.forEach(function(event){%>
  
          <div class="details">
            <h1 class='title'><%= event.eventname%></h1>
            <h3 class='date'>Date: <%= event.date%></h3>
            <h2 class='venue'>location: <%= event.location%></h2>
            <p class='description'>Description: <%= event.description%></p>
            <h4 class='createdBy'>Organizer: <%= event.createdBy%></h4>
            <p class="ticketPrices">TicketPrices: <%= event.ticketPrices%>$</p>
            <p class="Availability">Availability: <%= event.Availability%></p>
            <p class="refundPolicy">RefundPolicy: <%= event.refundPolicy%></p>
            <form action="/edit/<%= event._id %>"  class="deleteForm">
              <button type="submit" class="deleteButton">Edit</button>
          </form>
            <form action="/delete/<%= event._id %>"  class="deleteForm">
              <button type="submit" class="deleteButton">Delete</button>
          </form>
          </div>
          
          <%  })%>
  
      </div>
  



    <!-- Script for deleting -->
        <!-- <script>

const deleteButtons = document.querySelectorAll('.deleteButton');
          deleteButtons.forEach(deleteButton => {
  deleteButton.addEventListener('click', function() {
   
    const userContainer = this.parentElement;

    userContainer.remove();
  });
});

        </script> -->
</body>

</html>